<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBinding.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=YKTESTDB;PASSWORD=xhfoc;PERSIST SECURITY INFO=True;USER ID=XHFOC"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>